.important-links-item {
    right: 1rem;
}

.main-header .header-buttons-container {
    left: 0;
    right: auto;
}

.main-header .header-links-container .header-link.mobile-menu-title {
    padding-right: 2rem;
    padding-left: 0;

}

.menu-item-text {
    font-weight: 500;
}

.landing-swiper-pagination.swiper-pagination-bullets.swiper-pagination-vertical {
    margin-right: 0;
    margin-left: 4.5rem;
    right: auto;
    left: 0;
}

img.landing-pattern-img {
    transform: scaleX(-1);
}

.landing-button {
    padding: .7rem 1.7rem .7rem 1rem;
}

.landing-subtitle-line {
    margin-right: 0;
    margin-left: 1rem;
}

.landing-content-main {

    transform: translateX(200%);
}

.services-card-button img {
    transform: rotate(225deg);
}

.about-us-images {

    transform: translateX(300%);
}

.about-us-content {
    transform: translateX(-300%);
}

.about-us-check {
    margin-right: 0;
    margin-left: 0.7rem;
}

.about-us-button {
    padding: .7rem 1.7rem .7rem 1rem;

}

.sitelinks-button img {

    transform: scaleX(-1);
}

.events-clock-image-container {
    margin-left: .5rem;
    margin-right: 0;

}

.twitter-feed-container {
    transform: translateX(200%);
}

.events-button {
    right: auto;
    left: 1.5rem;
}

.media-subtitle {
    transform: translateX(150%);
}

body .econtainer .main-title {
    transform: translateX(200%);
}

.view-all-news {
    transform: translateX(-200%);
}

.media-card-data {
    left: auto;
    right: 2rem;
}

.media-card-line {

    margin-left: .8rem;
    margin-right: 0;

}

.footer-link-container-title.collapsed::after {
    right: auto;
    left: 0;

}

.footer-link-container-title:not(.collapsed)::after {
    right: auto;
    left: 0;

}

.footer-lower-links-container {
    transform: translateX(100%);
}

.footer-copyrights-container {
    transform: translateX(-100%);
}

.media-swiper-pagination.swiper-pagination {
    transform: translate(50%);
}

.media-swiper-button.swiper-button-prev img {

    transform: rotate(0);

}

.view-all-text {

    padding-left: 1rem;
    padding-right: 0rem;
}

.media-swiper-button img {
    transform: rotate(180deg);
}

.overview-images {
    transform: translateX(100%);
}

.overview-content {
    transform: translateX(-100%);

}

.account-information-text-container {
    transform: translateX(100%);
}

.account-information-button {
    transform: translateX(-100%);
    padding: .7rem 1.7rem .7rem 1rem;
}

@media (min-width: 1200px) {
    .important-links-item {
        right: 50%;
    }

    .main-header .header-links-container .header-link-dropdown-after {
        transform: translateX(1rem);
    }

    .header-caret {
        margin-right: 1rem;
        margin-left: 0;
    }

    .main-header .header-links-container .header-link {
        padding-right: 2rem;
        padding-left: 0;
    }

    .main-header .header-links-container .header-link-dropdown-menu.small-menu .header-link {
        padding-right: 0;
    }

    .footer-link-container-title {
        padding-left: 0;
        padding-right: 1rem;
    }

    .footer-link-container-title::before {
        left: auto;
        right: 0;
    }

    .overview-section .overview-title {
        padding-right: 0;
    }

}